@font-face {
    font-weight: 900;
    font-family: "Basically A Sans Serif";
    src: url('/introduction-to-progressive-web-apps-pwa/show/assets/fonts/BasicallyASansSerif-Black.woff2') format('woff2');
}

@font-face {
    font-weight: 800;
    font-family: "Basically A Sans Serif";
    src: url('/introduction-to-progressive-web-apps-pwa/show/assets/fonts/BasicallyASansSerif-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-weight: 700;
    font-family: "Basically A Sans Serif";
    src: url('/introduction-to-progressive-web-apps-pwa/show/assets/fonts/BasicallyASansSerif-Bold.woff2') format('woff2');
}

@font-face {
    font-weight: 600;
    font-family: "Basically A Sans Serif";
    src: url('/introduction-to-progressive-web-apps-pwa/show/assets/fonts/BasicallyASansSerif-SemiBold.woff2') format('woff2');
}

@font-face {
    font-weight: 500;
    font-family: "Basically A Sans Serif";
    src: url('/introduction-to-progressive-web-apps-pwa/show/assets/fonts/BasicallyASansSerif-Medium.woff2') format('woff2');
}

@font-face {
    font-weight: 400;
    font-family: "Basically A Sans Serif";
    src: url('/introduction-to-progressive-web-apps-pwa/show/assets/fonts/BasicallyASansSerif-Regular.woff2') format('woff2');
}

@font-face {
    font-weight: 300;
    font-family: "Basically A Sans Serif";
    src: url('/introduction-to-progressive-web-apps-pwa/show/assets/fonts/BasicallyASansSerif-Light.woff2') format('woff2');
}

@font-face {
    font-weight: 200;
    font-family: "Basically A Sans Serif";
    src: url('/introduction-to-progressive-web-apps-pwa/show/assets/fonts/BasicallyASansSerif-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-weight: 100;
    font-family: "Basically A Sans Serif";
    src: url('/introduction-to-progressive-web-apps-pwa/show/assets/fonts/BasicallyASansSerif-Thin.woff2') format('woff2');
}

body {
    background-size: 8em 8em;
    background-image:
        linear-gradient(rgba(148,163,184, 0.08) 0.2em, transparent 0.1em),
        linear-gradient(90deg, rgba(148,163,184, 0.08) 0.2em, transparent 0.1em);
}

.reveal .progress {
    background-color: transparent;
    height: 6px;
}

.reveal .progress span {
    background-color: #4285f4;
}

#what-we-will-building .desktop {
    height: 25rem;
}

#what-we-will-building .app {
    height: 28rem;
}

#what-are-pwa img {
    height: 20rem;
}

#perks-of-progressive-web-apps img {
    height: 20rem;
}

#before-building-a-pwa img {
    height: 18rem;
}

#installation-and-testing img {
    height: 18rem;
}

#about-me .avatar {
    height: 8rem;
}

.slide-background-content {
    opacity: 0.7;
}