.reveal .progress {
    background-color: transparent;
    height: 6px;
}

.reveal .progress span {
    background-color: #115aeb;
}

.controls-arrow::before {
    color: #115aeb;
}

.controls-arrow::after {
    color: #7020cc;
}
